@inherits DisplayBookBase
@foreach(var item in Books)
        {
            <a href="/BookDetails/@item.Id"><h5>@item.Name</h5></a>
            <p>@item.Author</p>
            <p>@item.Price.ToString("C")</p>
        }
        