@page "/Book/EditBookImage/{Id:int}"
@inherits EditImageBookBase


<h3>Edit Image Book</h3>


 <InputFile OnChange="@OnInputFileChanged"/>
 <img src="@contentString">

<button @onclick="UpdateImage"> Edit Image</button>