<h3>EditCategory</h3>
@page "/BookCategory/EditCategory/{Id:int}"
@inherits EditBookCategoryBase


@if(ErrorMessage != null)
{
    <p>@ErrorMessage</p>
}
<h3>AddBookCategory</h3>

<input @bind="BookCategory.Name" placeholder="Name"/>


<button @onclick="@(async()=> {
if(BookCategory.Name != null)
{
await UpdateCategory();
}
})"> Edit Category</button>

