@page "/Order"
@inherits OrderBase


@if(ErrorMessage != null)
{
    <p>@ErrorMessage</p>
}
<h3>Order</h3>

<input @bind="orderDto.NameClient" placeholder="Name"/>
<input @bind="orderDto.SurnameClient" placeholder="Surname"/>

<input @bind="orderDto.EmailClient" placeholder="Email"/>
<input @bind="orderDto.AddressClient" placeholder="Address"/>
<input @bind="orderDto.PhoneClient" placeholder="Phone Number"/>

<button @onclick="CreateOrderAsync">To Order</button>

